
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #4CAF50; /* Green */
    --secondary-color: #FF9800; /* Orange */
    --background-color: #F5F5F5; /* Light Gray */
    --text-color: #333333; /* Dark Gray */
    --button-color: #2196F3; /* Blue */
    --button-hover-color: #1976D2; /* Darker Blue */
    --correct-answer-color: #8BC34A; /* Light Green */
    --wrong-answer-color: #F44336; /* Red */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* HEADER SECTION */
header .header {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    border-radius: 30px;
    position: relative;
    min-height: 15%;
   
}

.header nav {
    flex-basis: 70%;
}

.header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    
}

.header nav ul li a {
    margin: 0 10px;
    color: var(--primary-color);
    font-weight: 700;
    padding: 10px;
}



/* LINKS HOVER EFFECT */

.header nav ul li {
    transition: all 0.3s ease;
    height: 100%;
    padding: 10px 5px;
}

.header nav ul li:hover {

    transform:  scale(1.3);
}

.header nav ul li a:hover {
    color: var(--secondary-color);
}

.header nav ul li:active {

    background-color: var(--secondary-color);
  
}.header nav ul li a:active {
    color: var(--background-color);
}
     

main {

    margin: calc(1%) auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* main::before {
    position: absolute;
    content: '';
    width: 100%;
    margin-bottom: 20%;
    height: 100%; 
    background-color: var(--primary-color); 
    z-index: -3;  
} */

header .header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);

}


/* CONTAINER SECTION */

.container {
    width: 100%;
    max-width: 80%;
    padding: 20px;
    /* position: relative; */
}

.container #intro {
    /* background-color: var(--primary-color); */
    padding: 30px;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    
}

.container #intro::before {
    content: '';
    position: absolute;
    top: -3%;
    left: -3%;
    width: 20%;
    height: 10%;
    border-top: 10px solid var(--secondary-color);
    border-left: 10px solid var(--secondary-color);
    border-radius: 10px;
    z-index: -1;
}

.container #intro::after {
    content: '';
    position: absolute;
    bottom: -3%;
    right: -3%;
    width: 20%;
    height: 10%;
    border-bottom: 10px solid var(--secondary-color);
    border-right: 10px solid var(--secondary-color);
    border-radius: 10px;
    z-index: -1;
}

.container #intro h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 10%;
font-family: 'montserrat', sans-serif;
color: var(--primary-color);
}

.container #intro p {
    font-size: 1.5rem;
    margin-bottom: 5%;
    font-family: 'roboto', sans-serif;
    animation: text-animation 2.5s forwards;
    opacity: 0;
    transition: all 1.5s;

}
button {
   
    margin: 30px auto;
    padding: 15px;
    border-radius: 20px;
    border: none;

    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

#startbtn {
    width: 50%;
}

button:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
    background-color: var(--secondary-color);

}

@keyframes text-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

/* QUESTION AND ANSWERS SECTION */

